# =====for requests=====
requests==2.27.1
urllib3==1.26.9
charset_normalizer==2.1.0
idna==3.3
certifi==2022.05.18.1
# ======================

ptyprocess==0.7.0

importlib-metadata<4.12  # for flake8
typing_extensions==4.2.0
zipp==3.8.0  # for flake8
flake8==4.0.1
configparser==5.2.0
pycodestyle==2.8.0
pyflakes==2.4.0
mccabe==0.7.0
entrypoints==0.4
