google-api-python-client==2.0.2 # for Google Drive API
google-auth-oauthlib>=0.5.2

ptyprocess==0.7.0

importlib-metadata<6.1  # for flake8
typing_extensions==4.5.0
zipp==3.15.0  # for flake8
flake8==5.0.4
configparser==5.3.0
pycodestyle==2.10.0
pyflakes==3.0.1
mccabe<0.7.0,>=0.6.0
entrypoints==0.4
