google-api-python-client==2.0.2 # for Google Drive API
google-auth-oauthlib>=0.5.2

ptyprocess==0.7.0

importlib-metadata<7.1  # for flake8
typing_extensions==4.10.0
zipp==3.17.0  # for flake8
flake8==7.0.0
configparser==6.0.0
pycodestyle==2.11.1
pyflakes==3.2.0
mccabe==0.7.0
entrypoints==0.4
